<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334948616876-pe1nulad5akg1drf0ha7gi20fqe55t5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334948616876-pe1nulad5akg1drf0ha7gi20fqe55t5s</string>
	<key>API_KEY</key>
	<string>AIzaSyA2AN0Pj3JtXuhU9JCMbE0n8B89Uh31VgM</string>
	<key>GCM_SENDER_ID</key>
	<string>334948616876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.alphamonkey.firebasetodo</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-demo-f67b4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-demo-f67b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334948616876:ios:0812859087d27bb47b6d09</string>
</dict>
</plist>